
.vs/CFCCoimbatore/FileContentIndex/9732eb97-f5ef-4c05-bf6c-a09c5ffef0a5.vsidx
*.vsidx
.vs/CFCCoimbatore/v17/.suo
.vs/CFCCoimbatore/v17/.suo
*.user
CFCCoimbatore.csproj.user
.vs/CFCCoimbatore/v17/.suo
CFCCoimbatore.csproj.user
obj/Debug/CFCCoimbatore.csproj.AssemblyReference.cache
obj/Release/_WPPLastBuildInfo.txt
obj/Release/Package/PackageTmp/Web.config
obj/Release/TransformWebConfig/transformed/Web.config
Properties/PublishProfiles/FolderProfile2.pubxml.user
Properties/PublishProfiles/FTPProfile1.pubxml.user
