@{
    ViewBag.Title = "About Zac Poonen";
}

<div class="nav-backed-header parallax" style="
background-image:url();
  ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <!-- Breadcrumb NavXT 7.2.0 -->
                    <li class="home"><span property="itemListElement" typeof="ListItem" >
                                         <h3 style="color:white;" class="post-title">About Bro. Zac Poonen</h3>   
    
</span></li>
            
                </ol>
            </div>
        </div>
    </div>
</div>

     <!-- Start Content -->
  <div class="main" role="main">
    <div id="content" class="content full">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-4">
                  <div class="grid-item staff-item">
                      <div class="grid-item-inner">
                          <div class="media-box" style="padding: 0 32px 0 32px"> <img class="photo-shadow" src="~/Images/about-zacpoonen.jpg" alt=""> </div>
                          <div class="grid-content" style="text-align: center">
                              <h3>Bro. Zac Poonen</h3>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-8 col-sm-4">
                  <div class="grid-item staff-item">
                      <div class="grid-item-inner">
                          <div class="grid-content">
                              <p style="font-size: 16px;">Zac Poonen was formerly an Indian Naval Officer who has been serving the Lord in India for over 50 years as a Bible-teacher. He has responsibility for a number of churches in India and abroad.</p>
                              <p style="font-size: 16px;">
                                  He has written more than 30 books and numerous articles in English - which have been translated into many Indian and foreign languages.
                                  His messages are available on audio CDs and video DVDs.
                              </p>
                              <p style="font-size: 16px;">Like the other elders in CFC, Zac Poonen also supports himself and his family through "<a href="https://www.cfcindia.com/books/the-day-of-small-beginnings#Money-And-Gods-Work" target="_blank">tent-making</a>" and does not receive any salary for his services. He does not receive any royalty for any of his books, CDs or DVDs, that are published by Christian Fellowship Centre, Bangalore.</p>
                              <p style="font-size: 16px;">
                                  For Zac Poonen's personal testimony, go to the following links:<br>
                                  <a href="https://www.cfcindia.com/books/the-day-of-small-beginnings" target="_blank">The Day Of Small Beginnings </a><br>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-12 col-sm-12">
                  <br />
                  <h3 class="cpt-page-title" style="color: #007F7B"> Sermons</h3>
                  <hr>
              </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 sermon-node">
                      <div class="sermon-img fa fa-microphone">
                      </div>
                      <a title="Jesus Revealed at the Breaking of Bread" href="https://www.cfcindia.com/sermon/jesus-revealed-at-the-breaking-of-bread" target="_blank">Jesus Revealed at the Breaking of Bread </a> <div class="book-author">
                          <a title="Zac Poonen" class="author" href="https://www.cfcindia.com/zac-poonen" target="_blank"> Zac Poonen</a>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 sermon-node">
                      <div class="sermon-img fa fa-microphone">
                      </div>
                      <a title="A Clear Gospel Message" href="https://www.cfcindia.com/sermon/a-clear-gospel-message-0" target="_blank">A Clear Gospel Message </a> <div class="book-author">
                          <a title="Zac Poonen" class="author" href="https://www.cfcindia.com/zac-poonen" target="_blank"> Zac Poonen</a>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 sermon-node">
                      <div class="sermon-img fa fa-microphone">
                      </div>
                      <a title="Purifying Ourselves As the Bride of Christ" href="https://www.cfcindia.com/sermon/purifying-ourselves-as-the-bride-of-christ" target="_blank">Purifying Ourselves As the Bride of Christ </a> <div class="book-author">
                          <a title="Zac Poonen" class="author" href="https://www.cfcindia.com/zac-poonen" target="_blank"> Zac Poonen</a>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 sermon-node">
                      <div class="sermon-img fa fa-microphone">
                      </div>
                      <a title="Doing Our Best to Build the Local Church" href="https://www.cfcindia.com/sermon/doing-our-best-to-build-the-local-church" target="_blank">Doing Our Best to Build the Local Church </a> <div class="book-author">
                          <a title="Zac Poonen" class="author" href="https://www.cfcindia.com/zac-poonen" target="_blank"> Zac Poonen</a>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 sermon-node">
                      <div class="sermon-img fa fa-microphone">
                      </div>
                      <a title="Zac Poonen's 84th Birthday Celebration" href="https://www.cfcindia.com/sermon/zac-poonens-84th-birthday-celebration" target="_blank">Zac Poonen's 84th Birthday Celebration </a> <div class="book-author">
                          <a title="Zac Poonen" class="author" href="https://www.cfcindia.com/zac-poonen" target="_blank"> Zac Poonen</a>
                      </div>
                  </div>
                  <a href="https://www.cfcindia.com/sermons/all/zac-poonen" target="_blank" type="button" class=" btn-xs btn-more expand pull-right">
                      <span class="glyphicon glyphicon-plus"></span>
                      More
                      <span class="more-info">
                          (3078)

                      </span>
                  </a>
              </div>
          </div>
      </div>
    </div>
  </div>
  <!-- Start Footer -->

    @*<div class="col-md-9" id="left-content">
        <div class="field field-name-body field-type-text-with-summary field-label-above">
            <div class="field-label"></div><div class="field-items">
                <div class="field-item even" property="schema:summary schema:description content:encoded">
                    <figure class="inner-image pull-left">
                        <a class="inner-image-link polaroid" href="~/Images/about-zacpoonen.jpg" data-lightbox="Inner-image-set" data-title="Zac Poonen">
                            <img src="~/Images/about-zacpoonen.jpg" alt="Zac Poonen"><br>
                            <figcaption>Zac Poonen</figcaption>
                        </a>
                    </figure>
                    <p>Zac Poonen was formerly an Indian Naval Officer who has been serving the Lord in India for over 50 years as a Bible-teacher. He has responsibility for a number of churches in India and abroad.</p>
                    <p>
                        He has written more than 30 books and numerous articles in English - which have been translated into many Indian and foreign languages.
                        His messages are available on audio CDs and video DVDs.
                    </p>
                    <p>Like the other elders in CFC, Zac Poonen also supports himself and his family through "<a href="/books/the-day-of-small-beginnings#Money-And-Gods-Work">tent-making</a>" and does not receive any salary for his services. He does not receive any royalty for any of his books, CDs or DVDs, that are published by Christian Fellowship Centre, Bangalore.</p>
                    <p>
                        For Zac Poonen's personal testimony, go to the following links:<br>
                        <a href="/books/the-day-of-small-beginnings">The Day Of Small Beginnings </a><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 category_atricles_section category_section">
                <div class="section_title">
                    Sermons
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 sermon-node">
                    <div class="sermon-img fa fa-microphone">
                    </div>
                    <a title="UNDERSTANDING THE NEW COVENANT Part 11: Family Life in the New Covenant" href="https://www.cfcindia.com/sermon/understanding-the-new-covenant-part-11-family-life-in-the-new-covenant">UNDERSTANDING THE NEW COVENANT Part 11: Family Life in the New Covenant </a> <div class="book-author">
                        <a title="Zac Poonen" class="author" href="https://www.cfcindia.com/zac-poonen"> Zac Poonen</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 sermon-node">
                    <div class="sermon-img fa fa-microphone">
                    </div>
                    <a title="Jesus Revealed at the Breaking of Bread" href="https://www.cfcindia.com/sermon/jesus-revealed-at-the-breaking-of-bread">Jesus Revealed at the Breaking of Bread </a> <div class="book-author">
                        <a title="Zac Poonen" class="author" href="https://www.cfcindia.com/zac-poonen"> Zac Poonen</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 sermon-node">
                    <div class="sermon-img fa fa-microphone">
                    </div>
                    <a title="A Clear Gospel Message" href="https://www.cfcindia.com/sermon/a-clear-gospel-message-0">A Clear Gospel Message </a> <div class="book-author">
                        <a title="Zac Poonen" class="author" href="https://www.cfcindia.com/zac-poonen"> Zac Poonen</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 sermon-node">
                    <div class="sermon-img fa fa-microphone">
                    </div>
                    <a title="Purifying Ourselves As the Bride of Christ" href="https://www.cfcindia.com/sermon/purifying-ourselves-as-the-bride-of-christ">Purifying Ourselves As the Bride of Christ </a> <div class="book-author">
                        <a title="Zac Poonen" class="author" href="https://www.cfcindia.com/zac-poonen"> Zac Poonen</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 sermon-node">
                    <div class="sermon-img fa fa-microphone">
                    </div>
                    <a title="Doing Our Best to Build the Local Church" href="https://www.cfcindia.com/sermon/doing-our-best-to-build-the-local-church">Doing Our Best to Build the Local Church </a> <div class="book-author">
                        <a title="Zac Poonen" class="author" href="https://www.cfcindia.com/zac-poonen"> Zac Poonen</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 sermon-node">
                    <div class="sermon-img fa fa-microphone">
                    </div>
                    <a title="Zac Poonen's 84th Birthday Celebration" href="https://www.cfcindia.com/sermon/zac-poonens-84th-birthday-celebration">Zac Poonen's 84th Birthday Celebration </a> <div class="book-author">
                        <a title="Zac Poonen" class="author" href="https://www.cfcindia.com/zac-poonen"> Zac Poonen</a>
                    </div>
                </div>
                <a href="https://www.cfcindia.com/sermons/all/zac-poonen" target="_blank" type="button" class=" btn-xs btn-more expand pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                    More
                    <span class="more-info">
                        (3078)

                    </span>
                </a>
            </div>
        </div>
        
    </div>*@