@{
    ViewBag.Title = "CFC Coimbatore";
}

<main>
    <div class="main" role="main">
        <div id="content" class="content full">
            <div class="container">
                <section class="row" aria-labelledby="aspnetTitle">
                    <br />
                    <p class="lead">Thank you for reaching this page. This page is under maintenance and will be available soon.</p>
                </section>

                <div class="row ">
                    <img src="https://cdn.pixabay.com/photo/2017/10/26/17/51/under-construction-2891888_1280.jpg" height="500" width="1000" />
                </div>
            </div>
        </div>
    </div>
</main>