@{
    ViewBag.Title = "About";
}
<div class="nav-backed-header parallax" style=" background-image:url(); ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <!-- Breadcrumb NavXT 7.2.0 -->
                    <li class="home">
                        <span property="itemListElement" typeof="ListItem">
                            <h3 style="color:white;" class="post-title">Our Meetings</h3>

                        </span>
                    </li>

                </ol>
            </div>
        </div>
    </div>
</div>
    <div class="main" role="main">
        <div id="content" class="content full">
            <div class="container">
                <div class="row" style="font-family: 'Roboto';">
                    <div class="col-md-4 col-sm-4 col-sm-12">
                        <div class="grid-item staff-item photo-shadow">
                            <div class="grid-item-inner">
                                <div class="media-box" style="padding:10px 10px 10px 10px"> <img class="" src="~/Images/AboutUs/ourMeetings.jpg" alt=""> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-sm-12">
                        <div class="spacer-20"></div>
                        <p style="font-size: 16px; line-height: 30px;">
                            We believe in the importance of meeting regularly to encourage one another (Hebrews 3:13; Hebrews 10:26). While this happens freely throughout the week in our homes as led by the Holy Spirit, we have also set aside specific times — including Sunday mornings — to meet together as a local expression of the Body of Christ.
                        </p>
                        <p style="font-size: 16px; line-height: 30px;">
                            While we do not follow any formal order of service during our meetings, we believe that all things must be done properly and in an orderly manner (I Corinthians 14:40). Within this context, we encourage all who are truly filled with the Holy Spirit to earnestly desire to prophesy (I Corinthians 14:1-4,23-33).
                             </p>

                    </div>
                    <div class="col-md-12">
                        <div class="spacer-20"></div>
                        <p style="font-size: 16px; line-height: 30px;">
                            We also believe and teach the practical expression of God’s headship order through uncovering/covering of our heads during times of prayer and prophecy (I Corinthians 11:2-5). We do not enforce this on everyone present in our meetings, since obedience to all of God’s commands must come from each individual’s faith (Romans 14:23). If you would like to study this topic further, please refer to these 2 articles: <a _ngcontent-qmr-c112="" href="https://www.cfcindia.com/article/headcovering-for-women" target="_blank" class="anchor">Head-covering for Women</a> (by Zac Poonen) and <a _ngcontent-qmr-c112="" href="https://www.cfcindia.com/article/head-coverings-two-spiritual-statements" target="_blank" class="anchor">Head Coverings – Two Spiritual Statements</a> (by Sandeep Poonen).

                            We believe in the importance of meeting regularly to encourage one another (Hebrews 3:13; Hebrews 10:26). While this happens freely throughout the week in our homes as led by the Holy Spirit, we have also set aside specific times — including Sunday mornings — to meet together as a local expression of the Body of Christ.
                        </p>
                        <p style="font-size: 16px; line-height: 30px;">
                            While we do not follow any formal order of service during our meetings, we believe that all things must be done properly and in an orderly manner (I Corinthians 14:40). Within this context, we encourage all who are truly filled with the Holy Spirit to earnestly desire to prophesy (I Corinthians 14:1-4,23-33). We also believe and teach the practical expression of God’s headship order through uncovering/covering of our heads during times of prayer and prophecy (I Corinthians 11:2-5). We do not enforce this on everyone present in our meetings, since obedience to all of God’s commands must come from each individual’s faith (Romans 14:23). If you would like to study this topic further, please refer to these 2 articles: <a _ngcontent-qmr-c112="" href="https://www.cfcindia.com/article/headcovering-for-women" target="_blank" class="anchor">Head-covering for Women</a> (by Zac Poonen) and <a _ngcontent-qmr-c112="" href="https://www.cfcindia.com/article/head-coverings-two-spiritual-statements" target="_blank" class="anchor">Head Coverings – Two Spiritual Statements</a> (by Sandeep Poonen).
                        </p>
                        <p style="font-size: 16px; line-height: 30px;">
                            We usually meet for lunch after our Sunday meetings to enhance the building of fellowship among us. All visitors to our church services are welcome to freely join us for lunch as well. After lunch, we have Sunday School for children and Youth meetings for young people. We also have sisters’ and brothers’ meetings for older brothers and sisters. Apart from our Sunday service, we meet in many areas as small groups during the week.
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
