@{
    ViewBag.Title = "About";
}
<div class="nav-backed-header parallax" style=" background-image:url(); ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <!-- Breadcrumb NavXT 7.2.0 -->
                    <li class="home">
                        <span property="itemListElement" typeof="ListItem">
                            <h3 style="color:white;" class="post-title">Our Purpose And Affiliation</h3>

                        </span>
                    </li>

                </ol>
            </div>
        </div>
    </div>
</div>
    <div class="main" role="main">
        <div id="content" class="content full">
            <div class="container">
                <div class="row" style="font-family: 'Roboto';">
                    <div class="col-md-4 col-sm-4 col-sm-12">
                        <div class="grid-item staff-item photo-shadow">
                            <div class="grid-item-inner">
                                <div class="media-box" style="padding:10px 10px 10px 10px"> <img class="" src="~/Images/AboutUs/OurAffiliation.jpg" alt=""> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-sm-12">
                        <p style="font-size: 16px; line-height: 30px;">
                            Our purpose as a church is to be disciples of the Lord Jesus Christ first ourselves, and then to make disciples in obedience to the Lord’s commission in Matthew 28:18-20, emphasizing the new birth, holiness of the inner life, mutual love, moral purity, financial integrity, and sharing God’s truth with others – founding every aspect of our lives on God’s Word alone. We are evangelical in our faith, and gladly receive all who are members of the worldwide Body of Christ.
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
